.flex-container {
  display: flex;
  font-size: 20px;
}

.arrow-back {
  margin-bottom: 10px;

  &:hover {
    fill: #DE6737;
    transition: 0.2s;
  }
}


.information-box {
  &__img {
    img {
      cursor: pointer;

      height: 100%;
      margin-right: 100px;
      border-radius: 24px;
      object-fit: cover;
      background: #E9E9EB;
      object-fit: contain;
    }
  }

  &__title {
    font-size: 32px;
    margin-bottom: 15px;
  }

  &__price {
    display: flex;
    color: #DE6737;
    font-size: 24px;
    margin-bottom: 15px;
  }

  &__description {
    margin-bottom: 15px;
    @extend %font-second !optional;
    font-size: 20px;
    line-height: 131%;
    letter-spacing: -0.2px;
  }


  &__size-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 15px;
  }

  &__ul {
    cursor: pointer;
    position: relative;

    .information-box__ul-title {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 240px;
      height: 30px;
      padding: 5px 10px;
      margin: 8px 0px;
      border-radius: 8px;
      background: #D4D3CF;
    }

    &-triangle {
      width: 0;
      height: 0;
      border-left: 7px solid transparent;
      border-right: 7px solid transparent;
      border-top: 14px solid #000000;
    }

    &-error {
      @extend %font-second !optional;
      color: red;
      margin-left: 10px;
      text-transform: inherit;
    }

    ul {
      z-index: 2;
      position: absolute;
      top: 40px;
      left: 0px;
      width: 100%;
      width: 260px;
      background: #D4D3CF;
      border-radius: 0px 0px 8px 8px;
    }

    li {
      padding: 7px;
      border-bottom: 1px solid rgba(0, 0, 0, 0.2);
    }

    li:last-child {
      border-bottom: none;
    }

    li:hover {
      color: #DE6737;
    }


  }

  &__button {
    @extend %blackBTN !optional;
    transition: 0.3s;

    &:hover {
      background-color: #ffff;
      color: black;
      border: 2px solid black;
      transition: 0.3s;
    }

    &:active {
      box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.467);
      transition: 0.1s;
    }
  }

  &__details {

    ul {
      cursor: pointer;
      margin: 12px 0px;
    }

    li {
      @extend %font-second !optional;
      margin: 8px 0px;
    }
  }
}

.more {
  &__category {
    margin-bottom: 8px;
  }

  &__url {
    color: #DE6737;

    &:hover {
      cursor: pointer;
      text-decoration: underline 2px;
    }
  }
}