@import url('https://fonts.googleapis.com/css2?family=REM:ital,wght@0,200;0,300;0,400;0,500;0,600;1,400;1,500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Carlito:wght@400;700&display=swap');

%font-main {
  font-family: 'REM', sans-serif;
  font-weight: 600;
  color: black;
}

%font-second {
  font-family: 'Carlito', sans-serif;
  font-weight: 400;
}